// Font Style
$font-style-normal: normal;
$font-style-italic: italic;
// Colors
// Basic Colors
$color-000000: #000000;
$color-ffffff: #ffffff;
$color-0566DE:#0566DE;
$color-7C878E:#7C878E;
$color-A8ADB0:#A8ADB0;
$color-F6F6F7:#F6F6F7;
$color-F87C56:#F87C56;

// Font Weight
$fw-100:100;
$fw-200:200;
$fw-300:300;
$fw-400:400;
$fw-500:500;
$fw-600:600;
$fw-700:700;

// Font Size
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-30: 30px;
$font-35: 35px;
$font-36: 36px;
$font-40: 40px;
$font-45: 45px;
$font-48: 48px;
$font-50: 50px;
$font-58: 58px;
$font-60: 60px;
$font-64: 64px;

// Font Family
$fontheading: "Inter Tight", sans-serif;
$body:"Inter Tight", sans-serif;
$button:"Inter Tight", sans-serif;
