@use "../helpers/variables" as variables;
@use "../helpers/mixins" as mixins;






.common-card {
    padding: clamp(17px, 1.2vw, 2vw) clamp(17px, 1.2vw, 2vw);
    background-color: rgba(246, 246, 247, 1);
    // aspect-ratio: 325 / 508;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-img-wrap {}

    &-img {
        max-width: clamp(210px, 14.5vw, 16vw);
        margin: 0 auto;
        //aspect-ratio: 210 / 430;
    }

    &-bottom-txt {}

    &-price-wrap {
        font-size: clamp(12px, 0.85vw, 1vw);
        line-height: clamp(16px, 1.2vw, 1.3vw);
        font-weight: 600;
        color: #000;
    }

    &-bottom-wrapper {
        display: flex;
        justify-content: space-between
    }

    &-bottom-title {
        font-size: clamp(28px, 1.7vw, 2vw);
        line-height: clamp(28px, 1.7vw, 2vw);
        font-weight: 600;
        color: #000;
    }

    &-bottom-icons {
        gap: clamp(10px, 0.7vw, 1vw);

        span {
            font-size: clamp(12px, 0.85vw, 1vw);
            line-height: clamp(16px, 1.2vw, 1.3vw);
            font-weight: 600;
            color: #000;
        }

        svg {
            width: max(18px, 1.1vw);
            height: max(14px, 1vw);
        }
    }
}


.floorplan-selected{
      &-wrapper-img{
        // padding-bottom:max(70px, 12.87vh);
        height:86vh;
        padding-top:0;
        padding-right:0;
        padding-left: 0;
      }
      &-grid-content{
        height: 100%;
        &-txt{
                padding: max(55px, 10vh) max(60px, 4.2vw) max(55px, 8.3vh) max(55px, 4.5vw);
                width:100%;
                max-width: clamp(400px, 34vw, 35vw);
                p{
                    font-size: clamp(20px, 1.2vw, 1.5vw);
                    color:#000;
                    line-height: clamp(27px, 1.8vw, 2vw);
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    margin-bottom: clamp(27px, 1.8vw,2vw);

                    b, strong{
                    font-weight: 700;
                    }
                }
           
        }
      }
      &-card{
        width:100%;
        max-width: clamp(300px, 30vw, 32vw);
        &-img-wrap{
            img{
                max-width: max(150px, 14.5vw);
            }
        }
      }
}

