@use "../helpers/variables" as variables;
@use "../helpers/mixins" as mixins;


.screen-wrapper {
    overflow: hidden;
    height: 100vh;
}

.grid-wrapper {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    padding-bottom: 25vh;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: clamp(14px, 1vw, 1.5vw) clamp(28px, 2vw, 2.2vw) max(70px, 25vh) clamp(60px, 4.2vw, 4.5vw);
    gap: clamp(47px, 3.4vw, 3.8vw);
    align-items: stretch;

    @include mixins.mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.color-blue {
    color: variables.$color-0566DE;
}



.center-wrapper{
    display:flex;
    flex-direction: row;
    background: #fff;//240px, 16vw, 18vw;
    
    &-img{
         width:clamp(819px, 64vw, 84vw);
        padding:clamp(55px, 8.3vh, 9vh) clamp(60px, 4.3vw, 4.5vw);
        img{

        }
        &-txt{
            font-size: clamp(20px, 1.2vw, 1.5vw);
            line-height: clamp(28px, 1.7vw, 2vw);
            font-weight:400;
        }
    }
    &-img-grid-content{
        display:flex;
        flex-direction: row;
        &-image{
            background-color: variables.$color-F6F6F7;
             padding:clamp(26px,7vh,8vh) 0;
         img{
             aspect-ratio: 332 /456;
             width: 100%;
             object-fit: contain;
             width: 100%;
             height:auto;
             max-width:clamp(400px, 30vw, 35vw);
             max-height:clamp(200px,50vh, 75vh);

         }
        }
        &-text{
           width:clamp(300px, 22vw, 32vw);
           padding: 0 clamp(30px, 2.1vw, 2.2vw);
           margin-right: calc(0.5% - (clamp(60px, 4.3vw, 4.5vw)));
           display:flex;
        }
        &-para{
             font-size: clamp(20px, 1.2vw, 1.5vw);
             line-height: clamp(27px, 1.6vw, 1.7vw);
             font-weight:400;
             letter-spacing: 0.5px;
             color:#000;
             border-bottom: 1px solid variables.$color-A8ADB0;
             padding-bottom:clamp(20px, 3.3vh,3.5vh);
             margin-bottom:clamp(20px,3.3vh,3.5vh);
        }
        &-link{
            display: flex;
            gap:clamp(5px,0.3vw,0.5vw);
            color:variables.$color-A8ADB0;
            font-size: clamp(12px, 0.85vw, 1vw);
            font-weight: 600;
            cursor: pointer;
            letter-spacing: 1px;
            svg{
                width: max(16px, 1.2vw);
                height: max(16px, 1.2vw);
            }
        }
    }
}



.last-step{
        &-wrapper{
           display:flex;
           flex-direction: row;
        }
        &-img-wrapper{

        }
        &-text-wrapper{
            
        }
}