@use "../helpers/variables" as variables;
@use "../helpers/mixins" as mixins;

// this is left sidebar style file naming as sideabr

.logo-wrapper{
   
    img{
         max-width: clamp(140px, 13vw , 15vw);
    max-height:clamp(57px, 9.8vh, 10vh);
        width:100%;
        object-fit: cover;
    }
}

.rightSidebar{
       height: calc(100vh - 7vh);
    ul{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        li{
            flex:1;
            border-top:1px solid #A8ADB0;
            &:last-child{
                border-top:none;
            }
            &.active{
                background-color: rgba(230, 240, 252, 1);
            }
            a, button{
                
                //padding:min(4vw, 64px) min(4vw, 64px);;
                padding-top:clamp(20px, 2.8vw, 4.1vw);
                padding-bottom:clamp(20px, 2.8vw, 4.1vw);
                padding-left:clamp(15px, 2vw, 2.2vw);
                padding-right:clamp(15px, 2vw, 2.2vw);
                gap:clamp(12px, 1vw, 1.2vw);;
                display:flex;
                flex-direction: row;
                font-size: clamp(18px, 1.7vw, 1.8vw);
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                @include mixins.lg-tablet{
                    padding:clamp(1vw, 2vw, 4.1vw) clamp(1vw, 1.5vw, 2.2vw);
                    font-size: clamp(15px, 1vw, 1.2vw);
                }
                @include mixins.mobile{
                    padding:clamp(43px, 1vw, 4.1vw) clamp(30px, 1vw, 2.2vw);
                    font-size: clamp(18px, 0.9vw, 1.8vw);
                }
                svg{
                    height:clamp(18px, 1.7vw, 1.8vw);
                    width: clamp(18px, 1.7vw, 1.8vw);
                }
            }
        }
    }
}